.banner-top {
    background-image: url('../../assets/banner-home.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 37vw;
    max-height: 711px;
    justify-content: flex-end;
    align-items: flex-end;
    .brand-logo {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
    .logo-1 {
        width: 180px;
    }
    .logo-2 {
        width: 328px;
        position: relative;
        right: 2rem;
    }
    button {
        width: 220px;
        height: 37px;
        margin: 0 2rem 2rem 0;
    }
}
