.wheelLoader{
    height: 35vh;
}

#headerText{
    scroll-margin: -190px;
    @include screen_1200{
        scroll-margin: -220px;
    }
}

.header-text {
    margin: 3rem 0;
    gap: 1.8rem;
    h3 {
        font-size: 1.8rem;
        line-height: 1.5rem;
    }
    p {
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
        width: 65%;
    }
}

.gamesList {
    flex-wrap: wrap;
    gap: 3rem;
    row-gap: 5rem;
    margin-bottom: 8rem;
}
