* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button {
    border: none;
}

p,
button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
}

body{
    background-color: #000000;
    color: #FFFFFF;
}

// .font-inter-normal {
//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 400;
// }

// .font-marven-normal {
//     font-family: 'Maven Pro';
//     font-style: normal;
//     font-weight: 400;
// }

.d-flex-row {
    display: flex;
    flex-direction: row;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-button {
    background: #dc4f57;
    border-radius: 33.5px;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.gray-button {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(7.5px);
    border-radius: 15px;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.transparent-button {
    border: 2px solid #dc4f57;
    border-radius: 33.5px;
    background-color: transparent;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.black-button {
    background: #000000;
    border-radius: 33.5px;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

// .game-names {
//     background: rgba(66, 66, 66, 0.3);
//     backdrop-filter: blur(25px);
//     border-radius: 10px;
//     font-size: 20px;
//     line-height: 24px;
//     letter-spacing: 0.15em;
//     font-variant: small-caps;
//     color: #ffffff;
// }
