@import url('https://fonts.cdnfonts.com/css/avengeancemightiestavenger');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto:wght@300&display=swap');

@import "./generalStyles.scss";
